<div class="row">
  <div class="col">
    <h1>Dataplant</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body py-5">
        <div class="card-title">
          <h4>Forgot Password</h4>
        </div>
        <form class="forms-sample" name="form" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="exampleInputEmail1">User Id</label>
            <input name="userid" class="form-control" placeholder="Userid" autofocus [(ngModel)]="userid" (keyup)="getmail($event)" required>
          </div>
          <button type="submit" class="btn btn-info mr-2 btn-block" [disabled]="f.form.pristine || f.form.invalid">Submit</button>
          <!-- <p class="mt-2 text-center" *ngIf="estr">Your password has been sent to {{estr}}</p> -->
        </form>
      </div>
    </div>
  </div>
</div>
